attrs==21.2.0
certifi==2021.5.30
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
Fiona==1.8.20
importlib-metadata==4.6.0
munch==2.5.0
numpy==1.19.5
opencv-python==3.4.0.12
pkg-resources==0.0.0
scipy==1.5.4
Shapely==1.7.1
six==1.16.0
typing-extensions==3.10.0.0
zipp==3.4.1
geopandas
